:root {
  --blue-gradient:#3B2A9F;
  --secondary:#FA8305;
}

* {
  box-sizing: border-box;
 
}
.body1{
  background-color:var(--blue-gradient);
  font-family: "Poppins", sans-serif !important;
}
.text1{
  font-weight: 700;
  font-size: 36px;
  margin-top: 36px;
  color: #FFFFFF;
}
.text2{
  font-weight: 700;
  font-size: 36px;
  margin-top: 36px;
}
.turn{
  margin-top: 36px;
  font-weight: 700;
  font-size: 36px;
}
.images img{
  width: 256px;
  height: 256px;
}
.images{
  margin-top: 36px;
  gap: 30px;
}
.radio-btn{
  gap: 245px;
}
.paper{
  width: 40px;
  height: 40px ;
  accent-color: var(--secondary);
}
.two{
  width: 40px;
  height: 40px ;
  accent-color: var(--secondary);
}
.rock{
  width: 40px;
  height: 40px ;
  accent-color: var(--secondary);
}
.submit{
  width: 252px;
  height: 64px;
  background-color:var(--blue-gradient);
  border: 3px solid #FFFFFF;
  font-weight: 700;
  font-size: 36px;
}
.info{
  margin-top: 60px;
  font-weight: 700;
  font-size: 36px;
}
.start{
 
  margin-top: 60px;
}
.box1{
  background-color:#6052b1;
  width: 500px;
  height: 200px;
  gap: 20px;
}
.box img{
  width: 180px;
  height: 180px;
}
.box2{
  background-color: #b04bc2;
  width: 500px;
  height: 200px;
  gap: 20px;
}
.box{
  margin-top: 50px;
  gap: 36px;
}
